# Global ignores
.DS_Store
Thumbs.db
node_modules/
*.log

# Python ignores
__pycache__/
*.pyc
*.pyo
*.pyd
venv_DashBoard
.env

# Logs and runtime files
backend/logs/
data/exports/

# Next.js specific ignores
.next/
out/

# Dependency lock files
frontend/package-lock.json

# Build artifacts
dist/
build/

# Miscellaneous
.idea/
.vscode/
*.swp
*.swo
